.start_online_test {
  height: auto;
  width: 100%;
  display: flex;
  background-color: #f9f9f9;

  .video_about_test {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 103px 0 92px 142px;
    position: relative;

    .play_video {
      background: url('../../img/home/Rectangle 21.png') no-repeat left;
      width: 365px;
      height: 365px;
      background-size: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      img {
        height: 90%;
        width: 90%;
      }

      svg {
        position: absolute;
        top: 45%;
        left: 45%;
        cursor: pointer;
        height: 50px;
        width: 50px;
        z-index: 6;

        path {
          fill: #fff;
        }
      }
    }
  }

  .read_more_about_test {
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    padding-left: 71px;
    padding-top: 157px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    h1 {
      font-size: 36px;
      line-height: 50.4px;
      font-weight: 600;
      height: auto;
      width: 100%;
      letter-spacing: -0.01em;
    }

    p {
      margin-top: 25px;
      height: auto;
      width: 100%;
      line-height: 150%;
      font-size: 24px;
      font-weight: normal;
      letter-spacing: -0.02em;
    }

    a {
      text-decoration: none;
      width: 147px;
      font-size: 30px;
      line-height: 100%;
      font-weight: 500;
      color: #FB8500;
      margin-top: 35px;
      letter-spacing: -0.01em;
      display: flex;
      align-items: center;
      padding: 15px 0;
      border-radius: 45px;
      transition: all 0.3s linear;
      margin-bottom: 40px;

      &:hover {
        background: #FF7500;
        transition: all 0.3s linear;
        color: #fff !important;
        border-radius: 45px;
        padding: 15px 20px;

        svg {
          path {
            fill: #fff
          }

          ;
        }
      }

      svg {

        margin-left: 18px;

        path {
          fill: #FB8500;
          width: 20px;
        }
      }
    }
  }
}