.modal_reset_password {
  width: 440px;
  height: 286px;
  padding: 45px 70px;

  .modal_btn {
    border: 1px solid #023047;
    margin-top: 20px;
    color: #023047;
    background-color: #fff;
  }
}