body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
button{
  transition: all 0.5s linear;

}
button:hover{
  background: #FF7500;
  transition: all 0.3s linear;
  color: #fff !important;
}
/* .home_page{
  max-width: 1440px;
  margin: 0 auto;
} */
.container{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 121px !important;
  
}